.input {
    font: $form-font;
    background: none;
    font-size: 14px;
    position: relative;
    //padding-top: 5px;
}

.input__input {
    background: none;
    outline: none !important;
    border: 1px solid $gray;
    color: $dark;
    appearance: none;
    font: $base-font;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border-radius: 5px;

    &:focus {
        border: 1px solid $primary;
        //height: 41px;
        //margin-bottom: -1px;
    }

    &::placeholder {
        font-size: 14px;
        color: $gray;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        font: $base-font !important;
    }
}

.input__label {
    margin-bottom: 0;
    display: inline-flex;
    white-space: nowrap;
    width: 100%;
    color: $gray;
    position: absolute;
    left: 0;
    top: 10px;
    transition: all 0.1s linear;
    cursor: text;
    pointer-events: none;
}

.input__input:focus,
.input__input_filled {
    & + .input__label {
        font-size: 12px;
        top: -4px;
    }
}

.input__input_error {
    border-bottom: 2px solid $danger;
    height: 41px;
    margin-bottom: -1px;
}

.input__show-password {
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    height: 24px;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}
.form-control {
    font: $form-font;
}
.form-label {
    font: $form-font;
}
